@model Readdit.Models.MembersViewModel

@{
    ViewData["Title"] = "Completed Reading";
}

<h1>To Be Read</h1>

@if (Model.CompletedReadingBooks.Any())
{
    <form id="removeBookForm" method="post" asp-action="RemoveFromList" asp-controller="Members" class="mb-3">
    <table class="table">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.CompletedReadingBooks)
            {
                <tr>
                    <td>@book.book_name</td>
                    <td>@book.author_name</td>
                    <td>@book.book_genre</td>
                    <td>
                        <button class="btn btn-danger" onclick="removeFromList(@book.book_id)">Remove from List</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </form>
}
else
{
    <p>No books found in the Completed list.</p>
}

@section Scripts {
    <script>

        function removeFromList(bookId) {
            // Send an AJAX request to the server to remove the book from the list
            $.ajax({
                url: '/Members/RemoveFromList',
                type: 'POST',
                data: { id: bookId },
                success: function (response) {
                    // Handle success, maybe show a message or update UI
                    console.log('Book removed from the list');
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.error('Error removing book from the list:', error);
                }
            });
        }
    </script>

}